In [4]:
import pandas as pd
data = pd.read_csv('GenZ_DatingApp_Data.csv')
print('Dataset overview:')
print(data.info())
data.head()

Dataset overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  500 non-null    int64
 1   Age                      500 non-null    int64
 2   Gender                   500 non-null    object
 3   Location                 500 non-null    object
 4   Education                500 non-null    object
 5   Occupation               500 non-null    object
 6   Primary_App              393 non-null    object
 7   Secondary_Apps           386 non-null    object
 8   Usage_Frequency          500 non-null    object
 9   Daily_Usage_Time         500 non-null    object
 10  Reason_for_Using         500 non-null    object
 11  Satisfaction             500 non-null    int64
 12  Challenges               383 non-null    object
 13  Desired_Features         500 non-null    object
 14  Preferred_Communication  500 non-null    object
 15  Partner_Priorities       500 non-null    object
dtypes: int64(3), object(13)
memory usage: 62.6+ KB
None

,User_ID,Age,Gender,Location,Education,Occupation,Primary_App,Secondary_Apps,Usage_Frequency,Daily_Usage_Time,Reason_for_Using,Satisfaction,Challenges,Desired_Features,Preferred_Communication,Partner_Priorities
0,1,20,Non-binary,Bangalore,Undergraduate,Freelancer,Hinge,Hinge,Monthly,1 hour,Finding a Partner,4,Safety Concerns,Audio Calls,Video Calls,Values > Personality > Appearance
1,2,24,Female,Delhi,Undergraduate,Part-time Job,Hinge,OkCupid,Weekly,30 minutes,Casual Dating,5,Time-Wasting,Video Calls,Text,Values > Personality > Appearance
2,3,24,Non-binary,Kolkata,Undergraduate,Intern,NaN,NaN,Weekly,2 hours,Casual Dating,4,Safety Concerns,Detailed Profiles,Text,Values > Personality > Appearance
3,4,22,Non-binary,Delhi,Graduate,Full-time Job,NaN,OkCupid,Daily,30 minutes,Casual Fun,3,NaN,AI Recommendations,Voice Notes,Personality > Interests > Values
4,5,18,Male,Delhi,Graduate,Intern,OkCupid,OkCupid,Weekly,2 hours,Casual Fun,4,Safety Concerns,Video Calls,Text,Appearance > Interests > Personality

In [6]:
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].astype('category')

In [8]:
data['Challenges'] = data['Challenges'].fillna(data['Challenges'].mode()[0])
data['Primary_App'] = data['Primary_App'].fillna(data['Primary_App'].mode()[0])
data['Secondary_Apps'] = data['Secondary_Apps'].fillna(data['Secondary_Apps'].mode()[0])

In [10]:
missing_values_per_column = data.isnull().sum()
print(missing_values_per_column)

User_ID                    0
Age                        0
Gender                     0
Location                   0
Education                  0
Occupation                 0
Primary_App                0
Secondary_Apps             0
Usage_Frequency            0
Daily_Usage_Time           0
Reason_for_Using           0
Satisfaction               0
Challenges                 0
Desired_Features           0
Preferred_Communication    0
Partner_Priorities         0
dtype: int64

In [22]:
# If you were a new data scientist joining this project, what would you need to understand this dataset?

# we should have an overviews of the dataset, understand the column descriptions and data types.
print(data.describe().map('{:.2f}%'.format))

       User_ID      Age Satisfaction
count  500.00%  500.00%      500.00%
mean   250.50%   21.58%        2.91%
std    144.48%    2.26%        1.44%
min      1.00%   18.00%        1.00%
25%    125.75%   20.00%        2.00%
50%    250.50%   22.00%        3.00%
75%    375.25%   24.00%        4.00%
max    500.00%   25.00%        5.00%

In [20]:
# Summary of categorical data

for col in data.select_dtypes(include='category').columns:
    print(f"{col}:")
    print(data[col].value_counts(), '\n')

Gender:
Gender
Female        176
Male          171
Non-binary    153
Name: count, dtype: int64

Location:
Location
Mumbai       82
Delhi        76
Kolkata      76
Bangalore    69
Pune         67
Chennai      66
Hyderabad    64
Name: count, dtype: int64

Education:
Education
Graduate         169
Undergraduate    166
Postgraduate     165
Name: count, dtype: int64

Occupation:
Occupation
Student          106
Intern           105
Freelancer       103
Full-time Job    100
Part-time Job     86
Name: count, dtype: int64

Primary_App:
Primary_App
OkCupid    225
Hinge      106
Bumble      93
Tinder      76
Name: count, dtype: int64

Secondary_Apps:
Secondary_Apps
Hinge      217
OkCupid     96
Bumble      95
Tinder      92
Name: count, dtype: int64

Usage_Frequency:
Usage_Frequency
Daily      181
Weekly     161
Monthly    158
Name: count, dtype: int64

Daily_Usage_Time:
Daily_Usage_Time
1.5 hours     109
2 hours       104
3 hours       102
1 hour         97
30 minutes     88
Name: count, dtype: int64

Reason_for_Using:
Reason_for_Using
Casual Dating         138
Finding a Partner     130
Casual Fun            120
Social Interaction    112
Name: count, dtype: int64

Challenges:
Challenges
Lack of Genuine Matches    252
Time-Wasting               127
Safety Concerns            121
Name: count, dtype: int64

Desired_Features:
Desired_Features
Location-Based Matching    111
Video Calls                103
Detailed Profiles          102
Audio Calls                 95
AI Recommendations          89
Name: count, dtype: int64

Preferred_Communication:
Preferred_Communication
Video Calls    195
Voice Notes    162
Text           143
Name: count, dtype: int64

Partner_Priorities:
Partner_Priorities
Personality > Interests > Values        170
Values > Personality > Appearance       166
Appearance > Interests > Personality    164
Name: count, dtype: int64

In [24]:
# How do you write effective column descriptions?

# To write an effective colums description I would do it this way

data_index = pd.DataFrame({
    'Column Name': data.columns,
    'Data Type': data.dtypes.values,
    'Missing Values': data.isnull().sum().values,
    'Unique Values': [data[col].nunique() for col in data.columns],
    'Sample Values': [data[col].unique()[:5] for col in data.columns]  
})

display(data_index)

,Column Name,Data Type,Missing Values,Unique Values,Sample Values
0,User_ID,int64,0,500,"[1, 2, 3, 4, 5]"
1,Age,int64,0,8,"[20, 24, 22, 18, 23]"
2,Gender,category,0,3,"['Non-binary', 'Female', 'Male'] Categories (3..."
3,Location,category,0,7,"['Bangalore', 'Delhi', 'Kolkata', 'Mumbai', 'C..."
4,Education,category,0,3,"['Undergraduate', 'Graduate', 'Postgraduate'] ..."
5,Occupation,category,0,5,"['Freelancer', 'Part-time Job', 'Intern', 'Ful..."
6,Primary_App,category,0,4,"['Hinge', 'OkCupid', 'Tinder', 'Bumble'] Categ..."
7,Secondary_Apps,category,0,4,"['Hinge', 'OkCupid', 'Tinder', 'Bumble'] Categ..."
8,Usage_Frequency,category,0,3,"['Monthly', 'Weekly', 'Daily'] Categories (3, ..."
9,Daily_Usage_Time,category,0,5,"['1 hour', '30 minutes', '2 hours', '1.5 hours..."
10,Reason_for_Using,category,0,4,"['Finding a Partner', 'Casual Dating', 'Casual..."
11,Satisfaction,int64,0,5,"[4, 5, 3, 2, 1]"
12,Challenges,category,0,3,"['Safety Concerns', 'Time-Wasting', 'Lack of G..."
13,Desired_Features,category,0,5,"['Audio Calls', 'Video Calls', 'Detailed Profi..."
14,Preferred_Communication,category,0,3,"['Video Calls', 'Text', 'Voice Notes'] Categor..."
15,Partner_Priorities,category,0,3,"['Values > Personality > Appearance', 'Persona..."

In [28]:
# What’s the best way to track changes in a dataset over time?

# There are many ways to track changes in a dataset over time like version control and automated snapshots.